<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serendipity</title>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css" media="all">
    <link href="../static/frame/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/home.css" rel="stylesheet">
</head>
<body>
<div>
    <header>
        <div id="nav" class="layui-row">
            <div class="layui-col-sm3">
                <img style="width: 70%;" src="../static/images/Serendipity_FFFFFF.png">
            </div>
            <div id="nav-list" class="layui-col-sm9">
                <a href="#img1">首页</a>
                <a href="#img2">演示</a>
                <a href="#img3">导航元素</a>
            </div>
        </div>
        <div id="slogan">
            <h1><strong>心</strong>有山海 <strong>静</strong>而无边</h1>
            <br>
            <span id="toSection2" class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x fa-inverse"></i>
                <i class="fa  fa-angle-double-down fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    </header>
    <section id="img1" class="immobile_img img12"></section>
    <section id="context1">
        <div>
            <h1>我生来平庸 也生来骄傲</h1>
            <div class="aSpan"></div>
        </div>
    </section>
    <section id="img2" class="immobile_img img11"></section>
    <section id="img3" class="immobile_img img13"></section>
    <!--  回顶部  -->
    <div id="toTop" class="invisible">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x fa-inverse"></i>
            <i class="fa  fa-angle-double-up fa-stack-1x fa-inverse"></i>
        </span>
    </div>

    <footer>

    </footer>
</div>
<script src="../static/frame/jquery/jquery.min.js" charset="utf-8"></script>
<script src="../static/frame/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/home.js" charset="utf-8"></script>
</body>
</html>